.EventsLog {
  background-color: #f1f1f3ff;
}
.EventsLog-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.EventsLog-buttons {
  display: flex;
  gap: 10px;
}
.EventsLog-button {
  padding: 10px 12px;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
}
.EventsLog-button-all {
  padding: 10px 12px;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
}

.EventsLog-button.active {
  border: 1px solid #FF2323;
}

.EventsLog-button-all.active{
  border: 1px solid #00A6FF;
  color: #00A6FF;
}