@media (max-width: 1365px) {
  .header-flex {
    display: none;
  }

  .header-flex-mobile-button {
    display: block;
  }
  .header-flex-mobile {
    display: block;
  }
  .flex-mobile {
    display: block;
  }
}
@media (max-width: 505px) {
  .sortFiltrButtons-button {
    font-size: 12px;
    padding: 8px 20px;
  }
  .sortFiltrButtons-container {
    padding: 20px 10px 0;
  }
}

@media (max-width: 375px) {
  .sortFiltrButtons-button {
    font-size: 12px;
    padding: 8px 10px;
  }
  .sortFiltrButtons-container {
    padding: 20px 10px 0;
  }
}
