@media (max-width: 1365px) {
  .info-button {
    width: 33px;
    cursor: pointer;
  }

  .location-button {
    width: 25px;
    cursor: pointer;
  }

  .table-container {
    max-width: 1200px;
    scrollbar-width: thin;
  }

  .table-row {
    width: 1200px;
    margin: 0 auto;
  }

  .header-flex {
    display: none;
  }

  .header-flex-mobile-button {
    display: block;
  }

  .header-flex-mobile {
    display: block;
  }

  .flex-mobile {
    display: block;
  }
}
@media (max-width: 1100px) {
  .table-container {
    max-width: 900px;
  }
  .table-row {
    width: 900px;
    margin: 0 auto;
  }
  .table-block.nav {
    font-size: 12px;
  }
  .table-block {
    font-size: 12px;
  }
}
@media (max-width: 640px) {

  .info-button {
    width: 25px;
    cursor: pointer;
  }

  .location-button {
    width: 20px!important;
    cursor: pointer;
  }

  .table-container {
    max-width: 700px;
  }
  .table-row {
    width: 700px;
    margin: 0 auto;
  }
  .table-block.nav{
    font-size: 9px;
  }
  .table-block{
    font-size: 9px;
  }
}
@media (max-width: 505px) {
  .sortFiltrButtons-button {
    font-size: 12px;
    padding: 8px 20px;
  }
  .sortFiltrButtons-container {
    padding: 20px 10px 0;
  }
}

@media (max-width: 375px) {
  .sortFiltrButtons-button {
    font-size: 12px;
    padding: 8px 10px;
  }
  .sortFiltrButtons-container {
    padding: 20px 10px 0;
  }
}
