.SitesInnerNavButtons {
  max-width: 1420px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.SitesInnerNavButtons-buttons {
  display: flex;
  gap: 10px;
}
.SitesInnerNavButton {
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 10px;
}
.Sort {
  background-color: #00C617;
  color: #fff;
}
.Tag {
  background-color: #903edfff;
  color: #fff;
}
.Edit{
  background: #1b97f3ff;
  color: #fff;
}
.show-hide{
  border: 1px solid #9F9F9F;
}
.SitesInnerNavButtons-more {
  background-color: #0ebd80ff;
  padding: 5px;
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}