.id-block-site {
  display: flex;
  align-items: center;
}
.name-block-site {
  display: flex;
  align-items: center;
}
.workers-block-site {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafdff;
  text-decoration: underline;
}
.absent-block-site {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafdff;
  text-decoration: underline;
}
.present-block-site {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafdff;
  text-decoration: underline;
}
.manager-block-site {
  display: flex;
  align-items: center;
}
.location-block-site {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-button {
  width: 30px;
  cursor: pointer;
}
.radius-block-site {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafdff;
}
.alerts-block-site {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.info-block-site{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  color: #1b97f3;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px!important;
}

.link:hover{
  text-decoration: underline;
}