.SitesInnerNav {
  max-width: 1400px;
  padding: 10px;
  margin: 10px auto;
  /* border: 1px solid black; */
}
.SitesInnerNav-buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.SitesInnerNav-button {
  background-color: #434343ff;
  max-width: 185px;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.SitesInnerNav-button.active {
  background-color: #ef4255ff;
}

.inputSallary {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputSallary h2 {
  font-size: 16px;
  color: #333;
}

.inputSallary input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
  max-width: 150px;
}

.inputSallary input:focus {
  border-color: #007bff;
  outline: none;
}

.inputSallary button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.inputSallary button:hover {
  background: #0056b3;
}

.info-page-container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}