.table-container {
  max-width: 1430px;
  margin: 15px auto 40px;
  overflow-x: auto;
  width: max-content;
  scrollbar-width: thin;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background: #f8fcfc;
  padding: 25px 15px 25px;
}
.table {
  border-collapse: separate;
  border-spacing: 0;

}
.table-block.nav {
  justify-content: center;
  text-align: center;
}
.table-row {
  width: 1400px;
  display: flex;
  align-items: stretch;
}
.table-row.nav {
  display: flex;
  padding: 10px 0;
  background-color: #e9f0feff;
  text-align: center;
  font-weight: 700;
}
.table-block {
  padding: 8px;
  text-align: left;
  border: 1px solid #e9f0feff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  height: auto;
  overflow: visible;
  white-space: normal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.table-block.center {
  justify-content: center;
}

.brake {
  background-color: #f1ad80;
}

.atSite {
  background-color: #e8f4e4 !important;
}

.block-site-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-site-inner-text {
  display: flex;
  align-items: center;
  justify-content: left;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 125px;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #008000;
}

.name-site-inner {
  display: flex;
  align-items: center;
  background-color: #f8f4fc;
  text-decoration: underline;
}
.canceled {
  background-color: #ffd4d4;
}
.pending {
  background-color: #f5eab2;
}
.empty {
  background-color: #efefef;
}

.alertsButton-wrap {
  display: flex;
  justify-content: center;
}

.alertsButton {
  color: #f966ac;
  width: 35px;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  cursor: pointer;
}

.tableFlex-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.insurance {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.confirmed {
  background-color: #d8ecbc;
}

.onConfirm {
  background-color: #f7efdc;
}
.shabat {
  background-color: #c0c0c0;
}
.holiday {
  background-color: #006eb8 !important;
  color: #fff !important;
}

.alert {
  background-color: #dce097;
}

.persents {
  text-align: center;
}

.tax-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-inner {
  display: flex;
  align-items: center;
  background-color: #f8fafdff;
  text-decoration: underline;
}

.confirmTimeGreen {
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid #008000;
  max-width: 80px;
}

.confirmTimeRed {
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid #ff0000;
  max-width: 80px;
}

.confirmTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.alerts-block-notification {
  background-color: #f5b184;
  border-radius: 10px;
  padding: 8px 15px;
}
.alertNotification-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.location.Active {
  background: #d8ecbc;
}
.location.Canceled {
  background: #f4d1d1;
}
.location.Pending {
  background: #f6ebb5;
}
.location.Empty {
  background: #e9ecf0;
}

.InfoTableTitle {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px;
}
.InfoTableTitle-container {
  display: flex;
  justify-content: center;
  background-color: #e0ccec;
  padding: 10px;
}
.InfoTableTitle-block {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  width: 100%;
}

.InfoTableTitle-block-text {
  font-weight: bold;
  font-size: 16px;
}

.InfoTable {
  background-color: #fff;
  min-height: 40vh;
  padding-bottom: 20px;
}
.InfoTable-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.InfoTable-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 430px;
  padding: 10px 15px;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.InfoTable-block-row {
  display: flex;
  justify-content: space-between;
}
.InfoTable-text {
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.BackTo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  cursor: pointer;
  width: 100px;
  color: rgb(82, 81, 81);
  justify-content: center;
}

.navBackNext {
  width: 30px;
  height: 30px;
}

.info-button {
  width: 40px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 5;
  max-height: 80px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.dropdown-menu div {
  border-bottom: 1px solid black;
}
.dropdown-menu div:last-child {
  border-bottom: 1px solid transparent;
}

.documentBasicImg {
  max-width: 80px;
}
